/* login */
#loginmain { margin-top:-10px;}
#loginmain .fft-login-bg { height:380px; background:url(../../images/fft-index-bg.gif) repeat-x top center;border-bottom:2px solid #eee; overflow:hidden;}
#loginmain  .fft-w { position:relative; z-index:5;}
#loginmain .fft-login {position:absolute; z-index:2;top:5px; right:0px;width:218px; /* height:310px;  */background:url(../../images/loginbg.png) repeat 0 0; padding:15px 20px;color:#fff;border:#ddd 1px solid;height:260px;overflow:hidden; }
/* #loginmain .fft-login-fixed {background-color:#fff; width:100%;height:100%;opacity:0.5;filter:alpha(opacity=50);} */
#loginmain .fft-login h2{color:#666;border-bottom:1px dotted #aaabab; line-height:30px;font-size:14px;font-weight:bold;}
#loginmain .fft-login h2 a{ line-height:40px; }
#loginmain .fft-login h3 { border-bottom:#ccc 1px dotted; line-height:35px;}
#loginmain .fft-login .fft-login-other {margin-left:50px;}
#loginmain .fft-login p {margin:10px 0;}
#loginmain .fft-login p label{color:#999;}
#loginmain .fft-login p i{width:40px; height:40px; border:1px solid #e0e0e0; border-right:none; float:left; background-color:#aaabab;}
#loginmain .fft-login p i.ico-username{background-position:-42px -42px;}
#loginmain .fft-login p i.ico-password{background-position:0 -42px;}
#loginmain .fft-login .input {height:40px; line-height:40px; width:165px;padding:0 10px; border:1px solid #e0e0e0;}
#loginmain .fft-login .code {height:40px; line-height:40px; width:85px;padding:0 10px; border:1px solid #e0e0e0;}
 
 
.fft-loginbtn {width:220px;height:40px;line-height:40px;background-position:0 0;cursor:pointer;display:inline-block;text-align:center;font-size:16px;font-weight:bold;}
.js-tips { position:relative;}
 
.js-tips .js-txt {position:absolute;top:0px;left:45px;z-index:2; display:block;color:#999;line-height:40px;width:80%;}
.fft-logo a, .fft-index-nav .fft-index-nav-link, .fft-drop-arrow, i.ico-username, i.ico-password, .fft-loginbtn, #login-slider .slideNav li, .picView ul li span, .picView .nextButton, .picView .prevButton, .recharge-box div.select-box i, #fft-quest ul li span, .fft-help-service li span, .help-service-tel a, .help-service-message a, .fft-search i, .search-key, .search-submit, .fft-i-phone, .pay-link {
    background: url("../../images/fft-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    vertical-align: middle;
}
.fft-i-phone {
    background-position: -32px -86px;
    display: inline-block;
    height: 35px;
    vertical-align: middle;
    width: 11px;
}
.icon-user{
	background:url(../../images/user-icon.png) no-repeat;
	width:42px;
	height:42px;
}
.icon-pass{
	background:url(../../images/pass-icon.png) no-repeat;
	width:42px;
	height:42px;
}
.in295 {height:40px; line-height:40px; width:165px;padding:0 10px; border:1px solid #e0e0e0;}
.code {height:40px; line-height:40px; width:85px;padding:0 10px; border:1px solid #e0e0e0;}
