.iconfont {
    font-family:"rei";
    font-style: normal;
    font-weight: normal;
    cursor: default;
    -webkit-font-smoothing: antialiased;
}

             
        
      

.content .main{float: left; width: 535px;_position:relative;/* IE6 hack */}
.content .sidebar{float: right; width: 245px;}

/**********************
	产品头部
***********************/
.prod-detail2{padding-bottom: 20px;border-bottom: 1px dashed #D6D6D6;}
.prod-detail2-title{ float:left; margin-right: 16px;}
.prod-detail2-title h2{font-size: 22px; font-family: Microsoft YaHei, SimHei, SimSun, sans-serif; color: #4D4D4D; letter-spacing: 1px;line-height: 24px;}
.prod-detail2-info{font-size: 14px; color: #808080;line-height: 24px;}
.prod-detail2-menu{clear: both;padding-top: 14px;}
.prod-detail2-menu ul { overflow: hidden; zoom: 1; }
.prod-detail2-menu li { float: left; margin-right: 5px; padding: 0 6px 0 0; white-space: nowrap; border-right: 1px solid #CCCCCC; }
.prod-detail2-menu li.last { margin-right: 0; padding: 0; border-right: none; }
.prod-detail2-menu li a:link,
.prod-detail2-menu li a:visited { padding-left: 20px; padding-bottom: 1px; background: url(../images/common/1HXrTRxAdJ.png) no-repeat left top; color: #1E92C0;
/*padding-top: 2px\9;  IE hack */
_padding-top: 0px; /* IE6 hack */
}
.prod-detail2-menu li.search a:link, .prod-detail2-menu li.search a:visited {
    background-position: 0 0;
}
.prod-detail2-menu li.setting a:link, .prod-detail2-menu li.setting a:visited {
    background-position: 0 -30px;
}
.prod-detail2-menu li.card a:link, .prod-detail2-menu li.card a:visited {
    background-position: 0 -60px;
}
.prod-detail2-menu li.list a:link, .prod-detail2-menu li.list a:visited {
    background-position: 0 -90px;
}
.prod-detail2-menu li.account a:link, .prod-detail2-menu li.account a:visited {
    background-position: 0 -120px;
}

.prod-show,.prod-show-hover{
	text-align: right; 
	padding: 7px 5px;
	float: right;
	width: 90px;
	}

.prod-deduct{ margin-bottom: 10px;padding-left: 10px;color: #808080;}
.prod-deduct a{float: right;}


/**********************
	城市选择表单
***********************/
.prod-choosecity { zoom:1; margin: 0 0 10px 0; position: relative; z-index: 10;height: 40px; padding-left: 15px;  background: #F5F5F5;border-radius:2px;}
.prod-choosecity h3 { position: absolute; top: 8px; left: 15px; font-size: 18px; font-family: SimHei; color: #005C9D; }
.prod-choosecity .i-text { position: absolute; top: 7px; left: 100px; width: 72px; height: 24px; padding: 0 0 0 6px; border: 1px solid #CCCCCC;
	border-radius: 3px 0 0 3px;
	box-shadow: 2px 2px 2px #EEEEEE inset;
	outline: none; 
	-webkit-transition: all 0.15s ease-in;
	-moz-transition: all 0.15s ease-in;
	transition: all 0.15s ease-in;
	height: 20px\9; /* -- IE hack -- */
	padding: 4px 0 0 6px\9; /* -- IE hack -- */

}
.prod-choosecity .i-text:hover,
.prod-choosecity .i-text:focus { border: 1px solid #999999; 
	-webkit-transition: all 0.15s ease-in;
	-moz-transition: all 0.15s ease-in;
	transition: all 0.15s ease-in;
}
.prod-choosecity .fm-explain{ position: absolute; top: 11px; left: 215px; color: #999999; }
.prod-choosecity .tip-angle { position: absolute; top: 31px; left: 215px; }

.prod-choosecity .ui-tip { position: absolute; top: 40px; left: 100px; float: left; max-width:280px;
	border-radius: 3px;
	box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.05) inset, 2px 2px 2px rgba(0, 0, 0, 0.25);
}
.prod-choosecity .ui-tip .ui-icon-top-arrow { left: 30px; }
.prod-choosecity .ui-tip .ui-tip-container {
	border-radius: 3px;
}

.prod-choosecity .a-arrow { overflow: hidden; position: absolute; top: 7px; left: 180px; width: 27px; height: 26px; text-indent:-9999px; background:url(../images/common/1HX98ElQsv.png) no-repeat scroll 0 -40px; 
	outline: none; 
}
.prod-choosecity .a-arrow:hover { background:url(../images/common/1HX98ElQsv.png) no-repeat scroll -27px -40px; }


/**********************
	城市选择自动补完
***********************/
body .suggest_c {border:1px solid #ababab;}
body .suggest_o {cursor:pointer;list-style:none;text-indent:5px;padding:4px 0;}
body .suggest_s {background:#D6ECFF;color:#4D4D4D;}
body .suggest-hl {background-color:#F8FF31;}


/**********************
	城市选择图标
***********************/
.prod-typeicon{margin-bottom: 10px;overflow: hidden; zoom: 1;}
.prod-typeicon li{width: 170px; height: 170px; border: 1px solid #ffffff; position: relative;float: left;text-align: center;margin-right: 9px;_margin-right:4px}
.prod-typeicon li.prod-typeicon-hover{
	z-index: 100;
	border: 1px solid #2996CC;
	background: #FAFAFF;
}
.prod-typeicon .prod-typeicon-right{
	margin-right: 0;
	float: right;
}
.prod-typeicon-bg{height: 180px; width: 170px;/* border: 1px solid #FFFFFF; */outline: 0}
.prod-typeicon-hover .prod-typeicon-bg{/* background-color: #E5F9FF; */ }
.prod-typeicon-left{left:1px;}
.prod-typeicon-right{left:-1px;}
.prod-typeicon-icon{ display: block;height: 35px;width: 105px;margin: 16px auto 0;padding: 85px 0 0; }
/* 	缴费项目开通时样式 */
#water .prod-typeicon-icon {background : url("../images/common/2xyqc4AqIl.png") no-repeat scroll 19px -1px transparent;}
#electric .prod-typeicon-icon {background : url("../images/common/2xyqc4AqIl.png") no-repeat scroll -68px -1px transparent}
#gas .prod-typeicon-icon {background : url("../images/common/2xyqc4AqIl.png") no-repeat scroll -161px -1px transparent}
/* 添加开通背景样式 */
.prod-typeicon .prod-typeicon-open { background-color: #EBF9FF;}
/* 	缴费项目未开通时样式 */
.prod-typeicon-off span {cursor: default;}
#water .prod-typeicon-off {background : url("../images/common/2xyqc4AqIl.png") no-repeat scroll 21px -81px transparent;cursor: default;}
#electric .prod-typeicon-off {background : url("../images/common/2xyqc4AqIl.png") no-repeat scroll -72px -81px;cursor: default;}
#gas .prod-typeicon-off {background : url("../images/common/2xyqc4AqIl.png") no-repeat scroll -164px -81px transparent;cursor: default;} 
/* 添加未开通背景样式 */
.prod-typeicon .prod-typeicon-unsupport { background-color: #F5F5F5;}
.prod-typeicon-icon:hover{text-decoration: none;}
/*  .prod-typeicon-remind{padding-top: 10px;}  */

.prod-typeicon-text{display:inline-block;
    vertical-align:middle;height: 100%;
    width: 100%;
/*     border-left: 1px solid #5CC3E6; */
/*     border-right: 1px solid #5CC3E6; */
    cursor: pointer;outline: 0;}
.prod-typeicon-text-ctn{float:left;
    position:relative;
/*     margin:-1px 0; */
    height: 100%;
    width: 100%; 
    background:url("../images/common/2xtNXL4oaB.png") no-repeat scroll -11px -183px transparent;
/*     border-bottom: 1px solid #5CC3E6; */
/*     border-top: 1px solid #5CC3E6; */
    font-size: 14px;line-height: 35px;font-weight: bold;color: #FFFFFF;cursor: pointer;}
/* 开通时hover效果 */
.prod-typeicon-text:hover,.prod-typeicon-text:hover .prod-typeicon-text-ctn{background:url("../images/common/2xtNXL4oaB.png") no-repeat scroll -11px -231px transparent;} 

 
.prod-typeicon-off .prod-typeicon-text{border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;}
.prod-typeicon-off .prod-typeicon-text-ctn{background:#e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;color: #999999;}
/* 未开通时hover效果*/
.prod-typeicon-off .prod-typeicon-text:hover,.prod-typeicon-off .prod-typeicon-text:hover .prod-typeicon-text-ctn{border-color:#e0e0e0; background:#E0E0E0}

.prod-unsupport,.prod-unsupport2 {border: 1px solid #E6E6E6;margin: 10px 0; padding: 20px;font-size: 14px}
.prod-unsupport .prod-typeicon-remind {font-size: 14px;font-weight: 700;margin-top: 15px;}
.prod-unsupport2 .prod-typeicon-deduct {font-size: 14px;font-weight: 700;margin-top: 15px;}
/** 缴费演示 **/
.prod-show a,.prod-show-hover a{color:#4c4c4c ;text-decoration: none;margin-right: -10px;} 
.prod-show span{

	background-color:	transparent;
	background-image:	url("../images/common/2xyqc4AqIl.png");
	background-repeat:	no-repeat;
	background-position :left -278px;
	background-attachment :	scroll;
	padding-left:33px;
	_background-position:-4px -278px;
	zoom: 1;
	
	}
/**  缴费演示hover **/
.prod-show-hover span{
	background-position :left -302px;
	_background-position-x:-4px;
	cursor: pointer;
	zoom: 1;
	}
/** 支持业务缴费类型 */
#deduct {color: #808080;padding-left: 10px;padding-bottom: 10px}
/* 成功icon图标 */
.ui-tiptext-success .ui-tiptext-icon {
    background-position: -45px -33px;
}
.prod-typeicon-bg .ui-tiptext-icon {
    display: block;
    height: 15px;
    left: 30px;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    /* top: 3px; */
    width: 15px;
   
}
.prod-unsupport .ui-tiptext-icon {
	display: block;
    height: 15px;
    left: -15px;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    top: 3px; 
    width: 15px;
}
.ui-tiptext-icon, .ui-tiptext-arrowup {
    background: url("../images/commcon/2EnNWHgoWw.png") no-repeat scroll 0 0 transparent;
}
.iconShadow {
	opacity: 0.5;
	filter: alpha(opacity=50);
	
}
.ui-cursor {
	cursor: pointer;
}

.ui-xbox,.ui-xbox-action{position:absolute;top:0}
.ui-xbox{z-index:999;left:50%;top:50%;width:500px;background-color:rgba(0,0,0,0.5);FILTER:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#88000000,endColorstr=#88000000);padding:0}
:root .ui-xbox{FILTER:none\9}
.ui-xbox-action{display:block;right:16px;top:16px;z-index:10}
.ui-xbox-content{background:#fff;height:100%;*zoom:1}
.ui-xbox-close{color:#999;font-family:tahoma;font-size:24px;line-height:14px;height:18px;width:18px;text-decoration:none;display:block;overflow:hidden}
.ui-xbox-close:hover{color:#777;text-decoration:none;}
.ui-xbox-mask{opacity:.2;filter:alpha(opacity=20);-moz-opacity:.2;background:black}
  #container {padding-top: 1px;}
.alipay-message-panel-1_0_2 table,.alipay-message-panel-1_0_2 tr,.alipay-message-panel-1_0_2 td,.alipay-message-panel-1_0_2 h3,.alipay-message-panel-1_0_2 h4,.alipay-message-panel-1_0_2 .message-panel p{margin:0;padding:0;border-spacing:0}.alipay-message-panel-1_0_2 .ui-poptip{float:left}.alipay-message-panel-1_0_2 .ui-poptip-box{margin-left:0;min-height:0;_height:auto}.alipay-message-panel-1_0_2 .message-panel{width:842px;border:1px solid #b4b4b4;border-top:0;background:#fafafa;border-radius:0 0 5px 5px;box-shadow:0 6px 10px #999;font-size:12px;line-height:18px;font-family:tahoma,arial,'Hiragino Sans GB','Microsoft Yahei','\u5B8B\u4F53';position:relative;visibility:hidden}.alipay-message-panel-1_0_2 .message-panel-container{zoom:1}.alipay-message-panel-1_0_2 .message-panel-title,.alipay-message-panel-1_0_2 .message-panel-viewall{background:#edf0f7;color:#647892;font-size:13px;font-weight:bolder;padding:8px 20px;margin:0}.alipay-message-panel-1_0_2 .message-panel-toggle{width:90px;height:25px;overflow:hidden;text-align:center;position:absolute;margin-left:376px}.alipay-message-panel-1_0_2 .message-panel-toggle .iconfont-back{display:block;line-height:78px;font-size:76px;margin:0 auto;top:-58px;position:relative;cursor:pointer;color:#fc6621;text-shadow:0 3px 10px #999}.alipay-message-panel-1_0_2 .message-panel-toggle .iconfont-fold{position:relative;display:block;width:100%;text-align:center;float:left;margin-top:-80px;color:#fff;font-size:12px;line-height:16px;cursor:pointer}.alipay-message-panel-1_0_2 .message-panel-list{overflow:auto;overflow-x:hidden;max-height:348px;width:100%;position:relative;border-top:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2}.alipay-message-panel-1_0_2 .message-panel-list table{margin-top:-1px}.alipay-message-panel-1_0_2 .message-panel-list a{color:#4c4c4c;text-decoration:none}.alipay-message-panel-1_0_2 .message-panel-list a:hover{text-decoration:underline}.alipay-message-panel-1_0_2 .message-panel-list td{padding:11px 15px 10px 20px;vertical-align:middle;border-top:1px solid #e2e2e2}.alipay-message-panel-1_0_2 .message-panel-item-content{position:relative;zoom:1}.alipay-message-panel-1_0_2 .message-panel-list .message-panel-item-hover{background:#f2f2f2}.alipay-message-panel-1_0_2 .message-panel-item-title{border-right:1px dotted #c8c8c8;color:#9a9a9a;width:21%}.alipay-message-panel-1_0_2 .message-panel-item-title h4{font-weight:bolder;font-size:14px;color:#353034;line-height:23px}.alipay-message-panel-1_0_2 .message-panel-item-title p{padding-bottom:3px}.alipay-message-panel-1_0_2 .ui-msgpael-warn,.alipay-message-panel-1_0_2 .ui-msgpael-warn a{font-weight:bolder;color:#e10a1f}.alipay-message-panel-1_0_2 .message-panel-viewall{text-align:right;-moz-border-radius:0 0 3px 3px;-webkit-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px}.alipay-message-panel-1_0_2 .message-panel-viewall a{color:#1589cd;font-weight:400;font-size:12px}.alipay-message-panel-1_0_2 table tr td .message-panel-delete{vertical-align:50%;float:right;width:18px;height:18px;line-height:18px;overflow:hidden;display:none;margin-top:-9px;position:absolute;right:3px;top:50%}.alipay-message-panel-1_0_2 a.message-panel-detail{color:#1589ca;float:right;margin:-10px 10px 0 0;top:50%;position:absolute;right:23px;z-index:100}.alipay-message-panel-1_0_2 .message-panel-delete a.iconfont{font-size:18px;color:#ccc;text-decoration:none;cursor:pointer}.alipay-message-panel-1_0_2 .message-panel .message-panel-delete a.iconfont:hover{color:#666;text-decoration:none}.alipay-message-panel-1_0_2 table tr td.message-panel-item-hover .message-panel-delete{display:block}.alipay-message-panel-1_0_2 .message-panel .fn-clear{zoom:1}.alipay-message-panel-1_0_2 .message-panel .fn-clear:before,.alipay-message-panel-1_0_2 .message-panel .fn-clear:after{content:"";display:table}.alipay-message-panel-1_0_2 .message-panel .fn-clear:after{clear:both}.alipay-message-panel-1_0_2 .message-step{padding:18px 50px 10px 20px}.alipay-message-panel-1_0_2 .message-step-item{width:250px;border-top:2px solid #999;color:#999;float:left}.alipay-message-panel-1_0_2 .message-step-2{width:476px}.alipay-message-panel-1_0_2 .message-step-3{width:238px}.alipay-message-panel-1_0_2 .message-step-4{width:158px}.alipay-message-panel-1_0_2 .message-step-5{width:119px}.alipay-message-panel-1_0_2 .message-step-point{width:25px;height:30px;overflow:hidden;position:relative;left:10px;text-align:center;margin-top:-19px;font-size:25px;line-height:30px;_line-height:32px;float:right}.alipay-message-panel-1_0_2 .message-step-desc{width:66%;position:relative;left:67%;text-align:center;line-height:14px;padding-top:2px;clear:both}.alipay-message-panel-1_0_2 .message-step-title{display:block}.alipay-message-panel-1_0_2 .message-step-first{width:20px;border-top:0;padding-top:2px;*overflow:hidden}.alipay-message-panel-1_0_2 .message-step-first .message-step-desc{width:100px;left:-35px}.alipay-message-panel-1_0_2 .message-step-current{border-color:#b9d384;color:#b9d384}.alipay-message-panel-1_0_2 .message-step-done{border-color:#b9d384;color:#999}.alipay-message-panel-1_0_2 .message-step-done .message-step-point{color:#b9d384}.alipay-message-panel-1_0_2 .message-step-fail{border-color:#fd985a;color:#fc6521}.alipay-message-panel-1_0_2 .message-step-fail .message-step-point{color:#fd985a}.alipay-message-panel-1_0_2 .message-step-date{color:#999;font-size:11px;line-height:12px}.alipay-message-panel-1_0_2 .message-step-pointmask{font-size:9px;position:relative;top:-19px}.alipay-message-panel-1_0_2 .message-step-fail-placeholder{line-height:30px;height:30px;visibility:hidden;overflow:hidden}.alipay-message-panel-1_0_2 .message-emergency{background:#fb6720;padding:6px 10px;border-top:1px solid #d6561a;color:#fff;font-size:12px;border-radius:0 0 3px 3px;box-shadow:0 2px 6px #666;line-height:20px;width:580px;position:relative}.alipay-message-panel-1_0_2 .message-emergency a,.alipay-message-panel-1_0_2 .message-emergency span{color:#fff;text-decoration:none;float:left}.alipay-message-panel-1_0_2 .message-emergency-multiline a,.alipay-message-panel-1_0_2 .message-emergency-multiline span,.alipay-message-panel-1_0_2 .message-emergency-multiline em{display:block;float:none;clear:both}.alipay-message-panel-1_0_2 .message-emergency-multiline a,.alipay-message-panel-1_0_2 .message-emergency-multiline span{white-space:normal;word-break:break-all;max-width:580px;overflow:hidden}.alipay-message-panel-1_0_2 .message-emergency a:hover{text-decoration:underline}.alipay-message-panel-1_0_2 .message-emergency em{font-size:13px;font-weight:700;font-style:normal;margin-right:16px;float:left}.alipay-message-panel-1_0_2 .message-emergency .message-emergency-delete{font-size:12px;margin-left:10px;float:right}.alipay-message-panel-1_0_2 .message-emergency-multiline .message-emergency-delete{position:absolute;right:10px;top:6px;margin-left:0}.alipay-message-panel-1_0_2 .message-emergency .message-emergency-delete .iconfont{cursor:pointer}.alipay-message-panel-1_0_2 .message-emergency .message-emergency-delete:hover{text-shadow:0 0 3px #fff;text-decoration:none}.alipay-message-panel-1_0_2 .ui-poptip{color:#DB7C22;z-index:101;font-size:12px;line-height:1.5;zoom:1}.alipay-message-panel-1_0_2 .ui-poptip-shadow{background-color:rgba(229,169,107,.15);FILTER:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#26e5a96b, endColorstr=#26e5a96b);border-radius:2px;padding:2px;zoom:1;_display:inline}.alipay-message-panel-1_0_2 .ui-poptip-container{position:relative;background-color:#FFFCEF;border:1px solid #ffbb76;border-radius:2px;padding:5px 15px;zoom:1;_display:inline}.alipay-message-panel-1_0_2 .ui-poptip:after,.alipay-message-panel-1_0_2 .ui-poptip-shadow:after,.alipay-message-panel-1_0_2 .ui-poptip-container:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}.alipay-message-panel-1_0_2 a.ui-poptip-close{position:absolute;right:3px;top:3px;border:1px solid #ffc891;text-decoration:none;border-radius:3px;width:12px;height:12px;font-family:tahoma;color:#dd7e00;line-height:10px;*line-height:12px;text-align:center;font-size:14px;background:#ffd7af;background:-webkit-gradient(linear,left top,left bottom,from(#FFF0E1),to(#FFE7CD));background:-moz-linear-gradient(top,#FFF0E1,#FFE7CD);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF0E1', endColorstr='#FFE7CD');background:-o-linear-gradient(top,#FFF0E1,#FFE7CD);background:linear-gradient(top,#FFF0E1,#FFE7CD);overflow:hidden}.alipay-message-panel-1_0_2 a.ui-poptip-close:hover{border:1px solid #ffb24c;text-decoration:none;color:#dd7e00;background:#ffd7af;background:-webkit-gradient(linear,left top,left bottom,from(#FFE5CA),to(#FFCC98));background:-moz-linear-gradient(top,#FFE5CA,#FFCC98);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE5CA', endColorstr='#FFCC98');background:-o-linear-gradient(top,#FFE5CA,#FFCC98);background:linear-gradient(top,#FFE5CA,#FFCC98)}.alipay-message-panel-1_0_2 .ui-poptip-arrow{position:absolute;z-index:10;*zoom:1}.alipay-message-panel-1_0_2 .ui-poptip-arrow em,.alipay-message-panel-1_0_2 .ui-poptip-arrow span{position:absolute;*zoom:1;width:0;height:0;border-color:rgba(255,255,255,0);border-color:transparent\0;*border-color:transparent;_border-color:tomato;_filter:chroma(color=tomato);border-style:solid;overflow:hidden;top:0;left:0}.alipay-message-panel-1_0_2 .ui-poptip-arrow-10{left:-6px;top:10px}.alipay-message-panel-1_0_2 .ui-poptip-arrow-10 em{top:0;left:-1px;border-right-color:#ffbb76;border-width:6px 6px 6px 0}.alipay-message-panel-1_0_2 .ui-poptip-arrow-10 span{border-right-color:#FFFCEF;border-width:6px 6px 6px 0}.alipay-message-panel-1_0_2 .ui-poptip-arrow-2{top:10px;right:0}.alipay-message-panel-1_0_2 .ui-poptip-arrow-2 em{top:0;left:1px;border-left-color:#ffbb76;border-width:6px 0 6px 6px}.alipay-message-panel-1_0_2 .ui-poptip-arrow-2 span{border-left-color:#FFFCEF;border-width:6px 0 6px 6px}.alipay-message-panel-1_0_2 .ui-poptip-arrow-11 em,.alipay-message-panel-1_0_2 .ui-poptip-arrow-1 em{border-width:0 6px 6px;border-bottom-color:#ffbb76;top:-1px;left:0}.alipay-message-panel-1_0_2 .ui-poptip-arrow-11 span,.alipay-message-panel-1_0_2 .ui-poptip-arrow-1 span{border-width:0 6px 6px;border-bottom-color:#FFFCEF}.alipay-message-panel-1_0_2 .ui-poptip-arrow-11{left:14px;top:-6px}.alipay-message-panel-1_0_2 .ui-poptip-arrow-1{right:28px;top:-6px}.alipay-message-panel-1_0_2 .ui-poptip-arrow-5 em,.alipay-message-panel-1_0_2 .ui-poptip-arrow-7 em{border-width:6px 6px 0;border-top-color:#ffbb76;top:1px;left:0}.alipay-message-panel-1_0_2 .ui-poptip-arrow-5 span,.alipay-message-panel-1_0_2 .ui-poptip-arrow-7 span{border-width:6px 6px 0;border-top-color:#FFFCEF}.alipay-message-panel-1_0_2 .ui-poptip-arrow-5{right:28px;bottom:0}.alipay-message-panel-1_0_2 .ui-poptip-arrow-7{left:14px;bottom:0}:root .alipay-message-panel-1_0_2 .ui-poptip-shadow{FILTER:none\9}.alipay-message-panel-1_0_2 .ui-poptip-blue{color:#4d4d4d}.alipay-message-panel-1_0_2 .ui-poptip-blue .ui-poptip-shadow{background-color:rgba(0,0,0,.05);FILTER:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#0c000000, endColorstr=#0c000000)}.alipay-message-panel-1_0_2 .ui-poptip-blue .ui-poptip-container{background-color:#F8FCFF;border:1px solid #B9C8D3}.alipay-message-panel-1_0_2 .ui-poptip-blue .ui-poptip-arrow-10 em{border-right-color:#B9C8D3}.alipay-message-panel-1_0_2 .ui-poptip-blue .ui-poptip-arrow-11 em,.alipay-message-panel-1_0_2 .ui-poptip-blue .ui-poptip-arrow-1 em{border-bottom-color:#B9C8D3}.alipay-message-panel-1_0_2 .ui-poptip-blue .ui-poptip-arrow-2 em,.alipay-message-panel-1_0_2 .ui-poptip-blue .ui-poptip-arrow-4 em{border-left-color:#B9C8D3}.alipay-message-panel-1_0_2 .ui-poptip-blue .ui-poptip-arrow-5 em,.alipay-message-panel-1_0_2 .ui-poptip-blue .ui-poptip-arrow-7 em{border-top-color:#B9C8D3}.alipay-message-panel-1_0_2 .ui-poptip-blue .ui-poptip-arrow-10 span{border-right-color:#F8FCFF}.alipay-message-panel-1_0_2 .ui-poptip-blue .ui-poptip-arrow-11 span,.alipay-message-panel-1_0_2 .ui-poptip-blue .ui-poptip-arrow-1 span{border-bottom-color:#F8FCFF}.alipay-message-panel-1_0_2 .ui-poptip-blue .ui-poptip-arrow-2 span,.alipay-message-panel-1_0_2 .ui-poptip-blue .ui-poptip-arrow-4 span{border-left-color:#F8FCFF}.alipay-message-panel-1_0_2 .ui-poptip-blue .ui-poptip-arrow-5 span,.alipay-message-panel-1_0_2 .ui-poptip-blue .ui-poptip-arrow-7 span{border-top-color:#F8FCFF}.alipay-message-panel-1_0_2 .ui-poptip-white{color:#333}.alipay-message-panel-1_0_2 .ui-poptip-white .ui-poptip-shadow{background-color:rgba(0,0,0,.05);FILTER:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#0c000000, endColorstr=#0c000000)}.alipay-message-panel-1_0_2 .ui-poptip-white .ui-poptip-container{background-color:#fff;border:1px solid #b1b1b1}.alipay-message-panel-1_0_2 .ui-poptip-white .ui-poptip-arrow-10 em{border-right-color:#b1b1b1}.alipay-message-panel-1_0_2 .ui-poptip-white .ui-poptip-arrow-11 em,.alipay-message-panel-1_0_2 .ui-poptip-white .ui-poptip-arrow-1 em{border-bottom-color:#b1b1b1}.alipay-message-panel-1_0_2 .ui-poptip-white .ui-poptip-arrow-2 em,.alipay-message-panel-1_0_2 .ui-poptip-white .ui-poptip-arrow-4 em{border-left-color:#b1b1b1}.alipay-message-panel-1_0_2 .ui-poptip-white .ui-poptip-arrow-5 em,.alipay-message-panel-1_0_2 .ui-poptip-white .ui-poptip-arrow-7 em{border-top-color:#b1b1b1}.alipay-message-panel-1_0_2 .ui-poptip-white .ui-poptip-arrow-10 span{border-right-color:#fff}.alipay-message-panel-1_0_2 .ui-poptip-white .ui-poptip-arrow-11 span,.alipay-message-panel-1_0_2 .ui-poptip-white .ui-poptip-arrow-1 span{border-bottom-color:#fff}.arale-tip-1_2_0 .ui-poptip-arrow{position:absolute;z-index:10;*zoom:1}.arale-tip-1_2_0 .ui-poptip-arrow em,.arale-tip-1_2_0 .ui-poptip-arrow span{position:absolute;*zoom:1;width:0;height:0;border-color:rgba(255,255,255,0);border-color:transparent\0;*border-color:transparent;_border-color:tomato;_filter:chroma(color=tomato);border-style:solid;overflow:hidden;top:0;left:0}.arale-tip-1_2_0 .ui-poptip-arrow-10{left:-6px;top:10px}.arale-tip-1_2_0 .ui-poptip-arrow-10 em{top:0;left:-1px;border-right-color:#ffbb76;border-width:6px 6px 6px 0}.arale-tip-1_2_0 .ui-poptip-arrow-10 span{border-right-color:#FFFCEF;border-width:6px 6px 6px 0}.arale-tip-1_2_0 .ui-poptip-arrow-2{top:10px;right:0}.arale-tip-1_2_0 .ui-poptip-arrow-2 em{top:0;left:1px;border-left-color:#ffbb76;border-width:6px 0 6px 6px}.arale-tip-1_2_0 .ui-poptip-arrow-2 span{border-left-color:#FFFCEF;border-width:6px 0 6px 6px}.arale-tip-1_2_0 .ui-poptip-arrow-11 em,.arale-tip-1_2_0 .ui-poptip-arrow-1 em{border-width:0 6px 6px;border-bottom-color:#ffbb76;top:-1px;left:0}.arale-tip-1_2_0 .ui-poptip-arrow-11 span,.arale-tip-1_2_0 .ui-poptip-arrow-1 span{border-width:0 6px 6px;border-bottom-color:#FFFCEF}.arale-tip-1_2_0 .ui-poptip-arrow-11{left:14px;top:-6px}.arale-tip-1_2_0 .ui-poptip-arrow-1{right:28px;top:-6px}.arale-tip-1_2_0 .ui-poptip-arrow-5 em,.arale-tip-1_2_0 .ui-poptip-arrow-7 em{border-width:6px 6px 0;border-top-color:#ffbb76;top:1px;left:0}.arale-tip-1_2_0 .ui-poptip-arrow-5 span,.arale-tip-1_2_0 .ui-poptip-arrow-7 span{border-width:6px 6px 0;border-top-color:#FFFCEF}.arale-tip-1_2_0 .ui-poptip-arrow-5{right:28px;bottom:0}.arale-tip-1_2_0 .ui-poptip-arrow-7{left:14px;bottom:0}:root .arale-tip-1_2_0 .ui-poptip-shadow{FILTER:none\9}.arale-tip-1_2_0 .ui-poptip-blue{color:#4d4d4d}.arale-tip-1_2_0 .ui-poptip-blue .ui-poptip-shadow{background-color:rgba(0,0,0,.05);FILTER:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#0c000000, endColorstr=#0c000000)}.arale-tip-1_2_0 .ui-poptip-blue .ui-poptip-container{background-color:#F8FCFF;border:1px solid #B9C8D3}.arale-tip-1_2_0 .ui-poptip-blue .ui-poptip-arrow-10 em{border-right-color:#B9C8D3}.arale-tip-1_2_0 .ui-poptip-blue .ui-poptip-arrow-11 em,.arale-tip-1_2_0 .ui-poptip-blue .ui-poptip-arrow-1 em{border-bottom-color:#B9C8D3}.arale-tip-1_2_0 .ui-poptip-blue .ui-poptip-arrow-2 em,.arale-tip-1_2_0 .ui-poptip-blue .ui-poptip-arrow-4 em{border-left-color:#B9C8D3}.arale-tip-1_2_0 .ui-poptip-blue .ui-poptip-arrow-5 em,.arale-tip-1_2_0 .ui-poptip-blue .ui-poptip-arrow-7 em{border-top-color:#B9C8D3}.arale-tip-1_2_0 .ui-poptip-blue .ui-poptip-arrow-10 span{border-right-color:#F8FCFF}.arale-tip-1_2_0 .ui-poptip-blue .ui-poptip-arrow-11 span,.arale-tip-1_2_0 .ui-poptip-blue .ui-poptip-arrow-1 span{border-bottom-color:#F8FCFF}.arale-tip-1_2_0 .ui-poptip-blue .ui-poptip-arrow-2 span,.arale-tip-1_2_0 .ui-poptip-blue .ui-poptip-arrow-4 span{border-left-color:#F8FCFF}.arale-tip-1_2_0 .ui-poptip-blue .ui-poptip-arrow-5 span,.arale-tip-1_2_0 .ui-poptip-blue .ui-poptip-arrow-7 span{border-top-color:#F8FCFF}.arale-tip-1_2_0 .ui-poptip-white{color:#333}.arale-tip-1_2_0 .ui-poptip-white .ui-poptip-shadow{background-color:rgba(0,0,0,.05);FILTER:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#0c000000, endColorstr=#0c000000)}.arale-tip-1_2_0 .ui-poptip-white .ui-poptip-container{background-color:#fff;border:1px solid #b1b1b1}.arale-tip-1_2_0 .ui-poptip-white .ui-poptip-arrow-10 em{border-right-color:#b1b1b1}.arale-tip-1_2_0 .ui-poptip-white .ui-poptip-arrow-11 em,.arale-tip-1_2_0 .ui-poptip-white .ui-poptip-arrow-1 em{border-bottom-color:#b1b1b1}.arale-tip-1_2_0 .ui-poptip-white .ui-poptip-arrow-2 em,.arale-tip-1_2_0 .ui-poptip-white .ui-poptip-arrow-4 em{border-left-color:#b1b1b1}.arale-tip-1_2_0 .ui-poptip-white .ui-poptip-arrow-5 em,.arale-tip-1_2_0 .ui-poptip-white .ui-poptip-arrow-7 em{border-top-color:#b1b1b1}.arale-tip-1_2_0 .ui-poptip-white .ui-poptip-arrow-10 span{border-right-color:#fff}.arale-tip-1_2_0 .ui-poptip-white .ui-poptip-arrow-11 span,.arale-tip-1_2_0 .ui-poptip-white .ui-poptip-arrow-1 span{border-bottom-color:#fff}.arale-tip-1_2_0 .ui-poptip-white .ui-poptip-arrow-2 span,.arale-tip-1_2_0 .ui-poptip-white .ui-poptip-arrow-4 span{border-left-color:#fff}.arale-tip-1_2_0 .ui-poptip-white .ui-poptip-arrow-5 span,.arale-tip-1_2_0 .ui-poptip-white .ui-poptip-arrow-7 span{border-top-color:#fff}.arale-tip-1_2_0 .ui-poptip{top:0;left:0}.alipay-xbox{background-color:rgba(0,0,0,.5);FILTER:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#88000000, endColorstr=#88000000);padding:6px;-webkit-transition:height .3s ease-in-out .3s;-moz-transition:height .3s ease-in-out .3s;-o-transition:height .3s ease-in-out .3s;-ms-transition:height .3s ease-in-out .3s;transition:height .3s ease-in-out .3s;border:0}:root .alipay-xbox{FILTER:none\9}.alipay-xbox-content{background:#fff;height:100%;*zoom:1}.alipay-xbox-close{color:#999;cursor:pointer;display:block;font-family:tahoma;font-size:24px;font-weight:700;height:18px;line-height:14px;position:absolute;right:16px;text-decoration:none;top:16px;z-index:10}.alipay-xbox-close:hover{color:#666;text-shadow:0 0 2px #aaa}.alipay-xbox-loading{border-radius:10px;position:absolute;top:-2px;*top:0;top:0\0;left:0;background:#CBFE1C;height:2px;zoom:1;overflow:hidden}@charset "utf-8";.ui-poptip{color:#DB7C22;z-index:101;font-size:12px;line-height:1.5;zoom:1}.ui-poptip-shadow{background-color:rgba(229,169,107,.15);FILTER:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#26e5a96b, endColorstr=#26e5a96b);border-radius:2px;padding:2px;zoom:1;_display:inline}.ui-poptip-container{position:relative;background-color:#FFFCEF;border:1px solid #ffbb76;border-radius:2px;padding:5px 15px;zoom:1;_display:inline}.ui-poptip:after,.ui-poptip-shadow:after,.ui-poptip-container:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}a.ui-poptip-close{position:absolute;right:3px;top:3px;border:1px solid #ffc891;text-decoration:none;border-radius:3px;width:12px;height:12px;font-family:tahoma;color:#dd7e00;line-height:10px;*line-height:12px;text-align:center;font-size:14px;background:#ffd7af;background:-webkit-gradient(linear,left top,left bottom,from(#FFF0E1),to(#FFE7CD));background:-moz-linear-gradient(top,#FFF0E1,#FFE7CD);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF0E1', endColorstr='#FFE7CD');background:-o-linear-gradient(top,#FFF0E1,#FFE7CD);background:linear-gradient(top,#FFF0E1,#FFE7CD);overflow:hidden}a.ui-poptip-close:hover{border:1px solid #ffb24c;text-decoration:none;color:#dd7e00;background:#ffd7af;background:-webkit-gradient(linear,left top,left bottom,from(#FFE5CA),to(#FFCC98));background:-moz-linear-gradient(top,#FFE5CA,#FFCC98);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE5CA', endColorstr='#FFCC98');background:-o-linear-gradient(top,#FFE5CA,#FFCC98);background:linear-gradient(top,#FFE5CA,#FFCC98)}.ui-poptip-arrow,.ui-poptip-arrow em,.ui-poptip-arrow span{position:absolute;font-size:14px;font-family:SimSun,Hiragino Sans GB;font-style:normal;line-height:21px;z-index:10;*zoom:1}.ui-poptip-arrow em{color:#ffbb76}.ui-poptip-arrow span{color:#FFFCEF;top:0;left:0}.ui-poptip-arrow-10{top:6px;left:-6px}.ui-poptip-arrow-10 em{top:0;left:-1px}.ui-poptip-arrow-2{top:6px;right:7px}.ui-poptip-arrow-2 em{top:0;left:1px}.ui-poptip-arrow-11{left:14px;top:-10px;top:-9px\0}.ui-poptip-arrow-11 em{top:-1px;left:0}.ui-poptip-arrow-1{right:28px;top:-10px;top:-9px\0}.ui-poptip-arrow-1 em{top:-1px;left:0}.ui-poptip-arrow-7{left:14px;bottom:10px}.ui-poptip-arrow-7 em{top:1px;left:0}.ui-poptip-arrow-5{right:28px;bottom:10px}.ui-poptip-arrow-5 em{top:1px;left:0}:root .ui-poptip-shadow{FILTER:none\9}.ui-poptip-blue{color:#4d4d4d}.ui-poptip-blue .ui-poptip-shadow{background-color:rgba(0,0,0,.05);FILTER:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#0c000000, endColorstr=#0c000000)}.ui-poptip-blue .ui-poptip-container{background-color:#F8FCFF;border:1px solid #B9C8D3}.ui-poptip-blue .ui-poptip-arrow em{color:#B9C8D3}.ui-poptip-blue .ui-poptip-arrow span{color:#F8FCFF}.ui-poptip-white{color:#333}.ui-poptip-white .ui-poptip-shadow{background-color:rgba(0,0,0,.05);FILTER:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#0c000000, endColorstr=#0c000000)}.ui-poptip-white .ui-poptip-container{background-color:#fff;border:1px solid #b1b1b1}.ui-poptip-white .ui-poptip-arrow em{color:#b1b1b1}.ui-poptip-white .ui-poptip-arrow span{color:#fff}.ui-poptip-icon{position:absolute;top:5px;left:10px;height:42px}.ui-poptip-box{margin-left:54px;margin-right:7px;min-height:40px;_height:40px;_display:inline;_zoom:1}.ui-poptip-box-text{margin-left:0;min-height:auto;_height:auto}.ui-poptip-text,.ui-poptip-link{line-height:1.8}
body .object-shim-class{display:inline-block;*display:inline;*zoom:1;height:22px;width:198px;border:1px solid #999}
body .object-shim-class object,body .object-shim-class embed{display:none}
.alipay-xbox{background-color:rgba(0,0,0,.5);FILTER:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#88000000, endColorstr=#88000000);padding:6px;-webkit-transition:height .3s ease-in-out .3s;-moz-transition:height .3s ease-in-out .3s;-o-transition:height .3s ease-in-out .3s;-ms-transition:height .3s ease-in-out .3s;transition:height .3s ease-in-out .3s;border:0}:root .alipay-xbox{FILTER:none9}.alipay-xbox-content{background:#fff;height:100%;*zoom:1}.alipay-xbox-close{color:#999;cursor:pointer;display:block;font-family:tahoma;font-size:24px;font-weight:700;height:18px;line-height:14px;position:absolute;right:16px;text-decoration:none;top:16px;z-index:10}.alipay-xbox-close:hover{color:#666;text-shadow:0 0 2px #aaa}.alipay-xbox-loading{border-radius:10px;position:absolute;top:-2px;*top:0;top:0\0;left:0;background:#CBFE1C;height:2px;zoom:1;overflow:hidden}
.ui-poptip{color:#DB7C22;z-index:101;font-size:12px;line-height:1.5;zoom:1}.ui-poptip-shadow{background-color:rgba(229,169,107,.15);FILTER:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#26e5a96b, endColorstr=#26e5a96b);border-radius:2px;padding:2px;zoom:1;_display:inline}.ui-poptip-container{position:relative;background-color:#FFFCEF;border:1px solid #ffbb76;border-radius:2px;padding:5px 22px 5px 10px;zoom:1;_display:inline}.ui-poptip:after,.ui-poptip-shadow:after,.ui-poptip-container:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}a.ui-poptip-close{position:absolute;right:3px;top:3px;border:1px solid #ffc891;text-decoration:none;border-radius:3px;width:12px;height:12px;font-family:tahoma;color:#dd7e00;line-height:10px;*line-height:12px;text-align:center;font-size:14px;background:#ffd7af;background:-webkit-gradient(linear,left top,left bottom,from( #FFF0E1),to( #FFE7CD));background:-moz-linear-gradient(top, #FFF0E1, #FFE7CD);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFF0E1", endColorstr="#FFE7CD");background:-o-linear-gradient(top, #FFF0E1, #FFE7CD);background:linear-gradient(top, #FFF0E1, #FFE7CD);overflow:hidden}a.ui-poptip-close:hover{border:1px solid #ffb24c;text-decoration:none;color:#dd7e00;background:#ffd7af;background:-webkit-gradient(linear,left top,left bottom,from( #FFE5CA),to( #FFCC98));background:-moz-linear-gradient(top, #FFE5CA, #FFCC98);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFE5CA", endColorstr="#FFCC98");background:-o-linear-gradient(top, #FFE5CA, #FFCC98);background:linear-gradient(top, #FFE5CA, #FFCC98)}.ui-poptip-arrow,.ui-poptip-arrow em,.ui-poptip-arrow span{position:absolute;font-size:14px;font-family:SimSun,Hiragino Sans GB;font-style:normal;line-height:21px;z-index:10;*zoom:1}.ui-poptip-arrow em{color:#ffbb76}.ui-poptip-arrow span{color:#FFFCEF;top:0;left:0}.ui-poptip-arrow-10{top:6px;left:-6px}.ui-poptip-arrow-10 em{top:0;left:-1px}.ui-poptip-arrow-2{top:6px;right:8px;*right:7px;right:7px\0}.ui-poptip-arrow-2 em{top:0;left:1px}.ui-poptip-arrow-11{left:14px;top:-10px;top:-9px\0}.ui-poptip-arrow-11 em{top:-1px;left:0}.ui-poptip-arrow-1{right:28px;top:-10px;top:-9px\0}.ui-poptip-arrow-1 em{top:-1px;left:0}.ui-poptip-arrow-7{left:14px;bottom:10px}.ui-poptip-arrow-7 em{top:1px;left:0}.ui-poptip-arrow-5{right:28px;bottom:10px}.ui-poptip-arrow-5 em{top:1px;left:0}:root .ui-poptip-shadow{FILTER:none9}.ui-poptip-blue{color:#4d4d4d}.ui-poptip-blue .ui-poptip-shadow{background-color:rgba(0,0,0,.05);FILTER:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#0c000000, endColorstr=#0c000000)}.ui-poptip-blue .ui-poptip-container{background-color:#F8FCFF;border:1px solid #B9C8D3}.ui-poptip-blue .ui-poptip-arrow em{color:#B9C8D3}.ui-poptip-blue .ui-poptip-arrow span{color:#F8FCFF}.ui-poptip-white{color:#333}.ui-poptip-white .ui-poptip-shadow{background-color:rgba(0,0,0,.05);FILTER:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#0c000000, endColorstr=#0c000000)}.ui-poptip-white .ui-poptip-container{background-color:#fff;border:1px solid #b1b1b1}.ui-poptip-white .ui-poptip-arrow em{color:#b1b1b1}.ui-poptip-white .ui-poptip-arrow span{color:#fff}</style><style type="text/css" class="iconStyle">.icon-apps24-10016 {background-position: 0px -0px; } 
.icon-apps24-10016 {background-position: 0px 0px; } 
.icon-apps24-10048 {background-position: 0px -47.5px; } 
.icon-apps24-10051 {background-position: 0px -95px; } 
.icon-apps24-10056 {background-position: 0px -142.5px; } 
.icon-apps24-10073 {background-position: 0px -237.5px; } 
.icon-apps24-10075{background-position: 0px -285px; } 
.icon-apps24-10108 {background-position: 0px -332.5px; } 

.icon-apps24-10063 {background-position: 0px -190px; } 

.icon-apps24-10016,  .icon-apps24-10048, .icon-apps24-10051, .icon-apps24-10056, .icon-apps24-10063, .icon-apps24-10073, .icon-apps24-10075, .icon-apps24-10108 {text-indent: -9999px; background-image: url(../images/common/combo.jpg);} 
  .mobile-down{
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #E6E6E6;
    -moz-border-radius: 2px;   
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 12px 0 8px 15px;
    outline:1px solid #FFFFFF;
    outline-offset:-2px;
    clear: both;
    }
      
      .payment  .left_intro,.payment .right_intro{margin-bottom:20px;}
      .index .payment .info{margin-top:20px;}
     .weg .mobile-down,.ccr .mobile-down{margin:15px 0;}
       .result-content .mobile-down{
        background:none;
        border:none;
        border-bottom:1px dashed #D9D9D9;
        padding-left:0;
        margin:0 0 15px;
        outline:0;
      }
      .payment .result-content .mobile-down{
        padding:10px 0 15px 150px;
        margin:10px;
      }
    .mobile-down .down-title{font-weight: 700;margin-right: 10px;line-height: 20px;}
    .down-link{
    background: url("../images/common/1Pg9QGa8Jp.png") no-repeat scroll 0 0 transparent;
    padding-left: 25px;
    line-height: 20px;
    display: inline-block;
    margin-right: 10px;
    }
    .android-down:hover{
    background-position: 0 -20px;
    }
    .ios-down{
    background-position: 0 -40px;
    }
    .ios-down:hover{
    background-position: 0 -60px;
    }
    .other-down{
    background-position: 2px -78px;
    }
    .other-down:hover{
    background-position: 2px -98px;
    }
    .hot-ad{
      display: inline-block;
      border-left: 1px dotted #CCCCCC;
      height: 30px;
      line-height: 30px;
      padding-left: 15px;
    }
    .hot-text{
      background: url("../images/common/1Pg9QGa8Jp.png") no-repeat scroll 0 -120px transparent;
      padding-left: 32px;
    }
	.mobile-down .ui-poptip {
		margin-top:-40px;
		margin-left:-15px;
	}
	.ui-poptip {
		position:absolute;
		color:#DB7C22;
		z-index:101;
		line-height:1.5;
		zoom:1;
		}
		
		.ui-poptip-shadow {
		background-color:rgba(229, 169, 107, 0.15);
		FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#26e5a96b, endColorstr=#26e5a96b);
		/* Math.floor(0.15 * 255).toString(16); */
		border-radius:2px;
		padding:2px;
		zoom: 1;
		_display: inline;
		}
		
		.ui-poptip-container {
		position:relative;
		background-color:#FFFCEF;
		border:1px solid #ffbb76;
		border-radius:2px;
		padding:5px 22px 5px 10px;
		zoom: 1;
		_display: inline;
		}
	.ui-poptip-arrow, .ui-poptip-arrow em, .ui-poptip-arrow span {
    position:absolute;
    font-size:14px;  
    font-family: SimSun, Hiragino Sans GB;
    font-style:normal;
    line-height:21px;
    z-index:10;
    *zoom:1;
     }
	.ui-poptip-arrow span {
		color: #fffcef;
	}
	/* ui-poptip-arrow-7 */
	.ui-poptip-arrow-7 {
		left: 14px;
		bottom: 10px;
	}
	
	.ui-poptip-arrow-7 em {
		top:1px;
		left:0;
	}
	.adjustImg {
		position:relative;
		top:1px;
	}