@charset "utf-8";
/* CSS Document */
/* a.skyblue{color:#03BDFC}
body{ background: url(/images/bodybg.jpg) repeat-x #ffffff}
ul{ list-style:none; }
.float{ float:left}
img{ border:0px;  }
.hand{ cursor:pointer; _cursor:hand} */

.banner{ position:relative; height:314px; top:0px; text-align:center; background:url(../images/banner1.png) no-repeat center 0px; }
.bannerWrap{ width:100px; overflow:auto; margin:0 auto; position:relative; top:-60px; z-index:3; text-align:center;}
.bannerWrap ul.showList{ margin:0 auto; width:100%; text-align:center;}
.bannerWrap ul.showList li{ width:23px; height:23px; background:url(../images/circle1.png) no-repeat; margin:5px; float:left; color:#fff; padding-top:3px; text-align:center;  }
.bannerWrap ul.showList li.special{ background:url(../images/circle2.png) no-repeat; color:#048fd5}
