<?xml version="1.0" encoding="UTF-8"?>
<!--
  - Middle tier application context definition for the image database.
  -->
<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:aop="http://www.springframework.org/schema/aop" 
xmlns:tx="http://www.springframework.org/schema/tx" 
xsi:schemaLocation="http://www.springframework.org/schema/beans 
                    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd 
                    http://www.springframework.org/schema/tx 
                    http://www.springframework.org/schema/tx/spring-tx-4.1.xsd 
                    http://www.springframework.org/schema/aop 
                    http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">
    <bean name="calculateService" class="com.ey.service.impl.ProfitCalculateServiceImpl"/>
    <!--  代理商批次单任务 -->
	<bean id="batchJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
	    <!--false表示等上一个任务执行完后再开启新的任务-->
	    <property name="jobClass" value="com.ey.quartz.job.AgentBacthJob"></property>
	    <property name="jobDataAsMap">
			<map>
				<entry key="agentService" value-ref="agentService"></entry>
				<entry key="staticService" value-ref="staticService"></entry>
			</map>
		</property>
	</bean>
	<!--  代理商批次单调度触发器 -->
	<bean id="batchCornTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
       <property name="jobDetail" ref="batchJobDetail"/>
       <!-- 测试用 -->
       <property name="cronExpression" value="0 0 12 * * ?"/>
       <!-- <property name="cronExpression" value="59 59 23 * * ?"/> -->
    </bean>
    
    <!--  定时生成各类结算单据任务 -->
	<bean id="jobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
	    <!--false表示等上一个任务执行完后再开启新的任务-->
	    <property name="jobClass" value="com.ey.quartz.job.AutoDivideJob"></property>
	    <property name="jobDataAsMap">
			<map>
				<entry key="timeout">
					<value>5</value>
				</entry>
				<entry key="calculateService" value-ref="calculateService"></entry>
			</map>
		</property>
	</bean>
	<!--  结算单据调度触发器 -->
	<bean id="cornTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
       <property name="jobDetail" ref="jobDetail"/>
       <!-- 每个60秒触发 -->
       <property name="cronExpression" value="0 0 12 * * ?"/>
       <!-- 每年的11月11号 11点11分触发(光棍节)  -->
       <!-- <property name="cronExpression" value="0 11 11 11 11 ? "/> -->
    </bean>
        
    <!--  定时生成代理商月终清算统计单任务 -->
	<bean id="agetJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
	    <!--false表示等上一个任务执行完后再开启新的任务-->
	    <property name="jobClass" value="com.ey.quartz.job.AgentClearJob"></property>
	    <property name="jobDataAsMap">
			<map>
				<entry key="timeout">
					<value>5</value>
				</entry>
				<entry key="calculateService" value-ref="calculateService"></entry>
			</map>
		</property>
	</bean>
    <!--  代理商月终调度触发器 -->
	<bean id="agentTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
       <property name="jobDetail" ref="agetJobDetail"/>
       <!-- 每个60秒触发 -->
       <property name="cronExpression" value="0 0 12 * * ?"/>
       <!-- 每年的11月11号 11点11分触发(光棍节)  -->
       <!-- <property name="cronExpression" value="0 11 11 11 11 ? "/> -->
    </bean>
    	
	<!--  定时生成代理商月终清算统计单任务 -->
	<bean id="systemJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
	    <!--false表示等上一个任务执行完后再开启新的任务-->
	    <property name="jobClass" value="com.ey.quartz.job.SystemClearJob"></property>
	    <property name="jobDataAsMap">
			<map>
				<entry key="timeout">
					<value>5</value>
				</entry>
				<entry key="calculateService" value-ref="calculateService"></entry>
			</map>
		</property>
	</bean>	
	<!--  系统月终调度触发器 -->
	<bean id="systemTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
       <property name="jobDetail" ref="systemJobDetail"/>
       <!-- 每个60秒触发 -->
       <property name="cronExpression" value="0 0 12 * * ?"/>
       <!-- 每年的11月11号 11点11分触发(光棍节)  -->
       <!-- <property name="cronExpression" value="0 11 11 11 11 ? "/> -->
    </bean>
	
	<!-- 调度工厂 -->
	<bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
      <property name="triggers">
          <list>
          	<ref bean="batchCornTrigger"/>
          	<ref bean="cornTrigger"/>
          	<ref bean="agentTrigger"/>
          	<ref bean="systemTrigger"/>
          </list>
      </property>
    </bean>
</beans>
